.increase-btn,
.decrease-btn {
    /* padding: 5px 10px;
    margin: 0 5px; */
    background-color: green;
    color: white;
    border: none;
    height: 35px;
     width: 35px;
    font-weight: bolder;
    border-radius: 50px;
    cursor: pointer;
    font-size: 25px;
}

.decrease-btn {
    background-color: red;
    
}